html
{
    width: 100%;
    height:100%;
}

body
{
    width:100%;
    height:100%;
}

section
{
    width:100%;
}

section.image-section
{
    width:100%;   
    position:absolute;
    top:10%;
    padding-bottom:250px;
    background-color: #FAFAFA;
}

.image-container
{
    width:100%;
    max-width: 1050px;
    height:1750px; /*TO DO: Flexible Height*/
    background-color: white;
    margin: 0 auto;
    position: relative;
}

.image-section .image-container .thumbnail
{
    position: absolute;
    z-index: 1;
    padding-bottom: 166.666666666%;
    transition: opacity .4s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
}

.image-section .image-container .thumbnail > a 
{
    width:100%;
    height: 100%;
    position: absolute;
}

.image-section .image-container .thumbnail.small
{
    width: 33.333333333%;
    padding-bottom: 33.333333333%; 
}

.image-section .image-container .thumbnail.medium
{
    width: 66.666666666%;
    padding-bottom: 33.333333333%; 
}

.image-section .image-container .thumbnail.large
{
    width: 66.666666666%;
    padding-bottom: 66.666666666%;
}

.image-section .image-container .thumbnail.columnOne
{
    left:0px;
}
.image-section .image-container .thumbnail.columnTwo
{
    left:33.333333333%; 
}
.image-section .image-container .thumbnail.columnThree
{
    left:66.666666666%;
}

.image-section .image-container .thumbnail.rowOne
{
    top:0;
}
.image-section .image-container .thumbnail.rowTwo
{
    top:20%;
}
.image-section .image-container .thumbnail.rowThree
{
    top:40%;
}
.image-section .image-container .thumbnail.rowFour
{
    top:60%;
}
.image-section .image-container .thumbnail.rowFive
{
    top:80%;
}

.thumbnail a img
{
    height:100%;
    width:100%;
}

.thumbnail:hover
{
    opacity: .25;
}

@media screen and (max-width: 600px){

    .image-section .image-container .thumbnail:nth-of-type(1)
    {
        top:0px;
    }
    .image-section .image-container .thumbnail:nth-of-type(2)
    {
        top:100vw;
    }
    .image-section .image-container .thumbnail:nth-of-type(3)
    {
        top:200vw;
    }
    .image-section .image-container .thumbnail:nth-of-type(4)
    {
        top:300vw;
    }
    .image-section .image-container .thumbnail:nth-of-type(5)
    {
        top:400vw;
    }
    .image-section .image-container .thumbnail:nth-of-type(6)
    {
        top:500vw;
    }
    /*Add more of the same depending on how many images you may have*/

    .image-section .image-container .thumbnail.small, .image-section .image-container .thumbnail.medium, .image-section .image-container .thumbnail.large
    {
        position: absolute;
        left: 0px;
        width: 100%;
        padding-bottom: 100%;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
    }

    .thumbnail a img
    {
        width:auto;
        height:100%;
    }        

}






